* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: #edf0f1;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
  background-color: #FAC643;
}

nav {
  order: 2;
}

.nLogo a,
.special,
.nLinks a,
.overlayContent a {
  font-family: 'Marcellus', serif;
  font-weight: 500;
  color: #24252a;
  text-decoration: none;
}

.nLogo {
  list-style: none;
  display: flex;
  font-size: 20px;
}

.nLinks {
  list-style: none;
  display: flex;
  font-size: 16px;
}

.nLinks li {
  padding: 0px 20px;
}

.nLinks li:nth-child(1) {
  padding: 0 20px 0 0;
}

.nLinks li a {
  transition: all 0.3s ease 0s;
}

.nLinks li a:hover {
  color: #ED456B;
}

.special {
  order: 1;
  padding: 9px 25px;
  background-color: rgba(237, 115, 69, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.special:hover {
  background-color: rgba(237, 115, 69, 0.5);
}

#searchDisplay, .click {
  font-family: 'Marcellus', serif;
  font-weight: 500;
  color: #24252a;
  float: center;
  text-align: left;
  padding: 60px;
  text-decoration: none;
  font-size: 17px;
}

#searchDisplay {
  display: none;
}

#mainSearch {
  font-family: 'Marcellus', serif;
  position: relative;
  margin: 50px auto 100px auto;
  width: calc((125px + 80px + 2px) * 5);
}

#ingredient {
    position:block;
    margin:25px;
    height:145px; /* image height + 20px for label */
    width:125px; /* image width */
    float:left;
    background:#fff;
}

#ingredient h1 {
    position:relative;
    text-align:center;
    font-weight:600;
    font-size:14px;
    color:#444;
}

#ingredient img {
    position:relative;
    border-radius: 50%; /* to make circular icon - can work with 125 square icons */
    border: 10px solid transparent;
    width:125px; /* image width */
    height:125px; /* image height */
}

#nextOption, .click {
  font-family: 'Marcellus', serif;
  font-weight: 500;
  color: #24252a;
  float: center;
  text-align: left;
  padding: 60px;
  text-decoration: none;
  font-size: 17px;
  margin-bottom: auto;
}

#nextOption {
  display: none;
}

#addiDisplay {
  font-family: 'Marcellus', serif;
  font-weight: 500;
  color: #24252a;
  float: center;
  text-align: left;
  padding: 60px;
  text-decoration: none;
  font-size: 17px;
}
