* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
  background-color: #FAC643;
}

nav {
  order: 2;
}

.nLogo a,
.special,
.nLinks a,
.overlayContent a {
  font-family: 'Marcellus', serif;
  font-weight: 500;
  color: #24252a;
  text-decoration: none;
}

.nLogo {
  font-family: 'Marcellus', serif;
  list-style: none;
  display: flex;
  font-size: 20px;
  color: black;
}

.nLinks {
  list-style: none;
  display: flex;
  font-size: 16px;
}

.nLinks li {
  padding: 0px 20px;
}

.nLinks li:nth-child(1) {
  padding: 0 20px 0 0;
}

.nLinks li a {
  transition: all 0.3s ease 0s;
}

.nLinks li a:hover {
  color: #ED456B;
}

.special {
  order: 1;
  padding: 9px 25px;
  background-color: rgba(237, 115, 69, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.special:hover {
  background-color: rgba(237, 115, 69, 0.5);
}

content {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: stretch;
  order: 3;
  font-family: 'Marcellus', serif;
  font-size: 12px;
  padding: 75px;
}

buttons {
  display: flex;
  order: 4;
  margin-bottom: auto;
  padding: 25px;
  column-gap: 30px;
}

registerArea {
  display: flex;
  order: 5;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  font-family: 'Marcellus', serif;
  font-size: 16px;
}

input {
  display: block;
  width:100%;
  padding:17px;
}

.boxArea {
  display: grid;
  grid-template-rows: repeat(2, 20px);
  gap: 20px;
  grid-auto-flow: column;
  grid-auto-columns: 300px;
}

.box {
  border-radius:50px;
  border: solid 2px rgba(237, 115, 69, 1);
  font-family: 'Marcellus', serif;
  font-size: 14px;
}

.options {
  font-size: 25;
  font-weight: bold;
  padding: 9px 25px;
  background-color: white;
  border: solid 2px rgba(237, 115, 69, 1);
  color: rgba(237, 115, 69, 1);
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.options:hover {
  background-color: rgba(237, 115, 69, 1);
  color: white;
}

.current {
  font-size: 25;
  font-weight: bold;
  padding: 9px 25px;
  background-color: rgba(237, 115, 69, 1);
  border: none;
  color: white;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.current:hover {
  background-color: rgba(237, 115, 69, 0.5);
}

.accented {
  font-size: 25;
  font-weight: bold;
  padding: 9px 25px;
  background-color: rgba(237, 69, 107, 1);
  border: none;
  color: white;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.accented:hover {
  background-color: rgba(237, 69, 107, 0.5);
}

button {
  font-family: 'Marcellus', serif;
  font-size: 16px;
}
